.app-container {
    height: 100vh; 
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.logo-container {
    background-image:
        linear-gradient(rgba(255,255,255,0),
        rgba(255,255,255,0)),
        url("/assets/background.png");
    background-position: 50%;
    background-size: 100%;
    border-radius: 1rem;
    margin: 1rem;
}
